# Rust build outputs
/target
/output
/tauri-dist/
/frontend-dist/

# Agent skills and commands
/*/skills/
# Include repo-specific skills
!/.agents/skills/
!/.agents/skills/**
/*/command*/
.cursor
.wolf

# Environment variable files
.env*

# SPDX license file
esdiag.spdx.json
