# Rust build outputs
/target
/output
/tauri-dist/
/frontend-dist/

# Agent skills and commands
/*/skills/
/*/command*/
.cursor
.wolf

# Environment variable files
.env*

# SPDX license file
esdiag.spdx.json
