################### esdiag dotenv example #########################

# Usage:
# 1. Copy this file `cp example.env .env`
# 2. Restrict access with `chmod 600 .env`, as it will contain secrets
# 3. Uncomment and add your credentials to the environment variables below
#
# All `.env*` files are ignored by `.gitignore`, NEVER commit them!
#
# The HOME (linux / MacOS) and USERPROFILE (Windows) operating system
# environment variables are used to create a `~/.esdiag` user directory to
# save configuration and debug information.

export ESDIAG_VERSION="0.12.0"

########################## esdiag #################################

# Change the log level to `debug` to be more verbose, or to `error` for less
#export LOG_LEVEL="info"

# The Elasticsearch URL to send the output documents to. This default is used
# inside containers and when no host is specified via command-line arguments.
export ESDIAG_OUTPUT_URL="http://localhost:9200"

# An Elasticsearch API key to use with the ESDIAG_OUTPUT_URL, takes precedence
# over username/password
#export ESDIAG_OUTPUT_APIKEY=""

# Basic username/password authentication to use with the ESDIAG_OUTPUT_URL
#export ESDIAG_OUTPUT_USERNAME=""
#export ESDIAG_OUTPUT_PASSWORD=""

# NOTE: ESDIAG_OUTPUT_* authentication also applies to Kibana

# The base Kibana URL. This is used to generate links to pre-filtered
# dashboards. This needs to be a Kibana instance attached to the output
# Elasticsearch cluster and does not include the space id.
export ESDIAG_KIBANA_URL="http://localhost:5601"

# The Kibana space ID where saved objects will import to.
# See `assets/kibana/space.json` for the full space definition
export ESDIAG_KIBANA_SPACE="esdiag"

####################### esdiag serve #############################

# The network port on which to serve the web interface and REST API
#export ESDIAG_PORT=2501

# Specifies a user email, which can be used for document identification and
# filtering. If present, documents will use the value set by the proxy in the
# `X-Goog-Authenticated-User-Email` header.
# If not set, the web interface will fill `Anonymous` as the user.
#export ESDIAG_USER=""

###################### esdiag-control ############################
# NOTE: esdiag-control is a separate script from the main esdiag binary

# A GitHub personal access token, used for optional automated version checks and
# updates. See `docs/github_token.md` for step-by-step creation instructions
#export GITHUB_TOKEN=""

# The git branch to use
#export ESDIAG_BRANCH="main"

# The container registry for Elastic's container images for build/compose commands
export ELASTIC_CONTAINER_REGISTRY="docker.elastic.co"

# An optional separate registry for ESDiag to push image builds
# export ESDIAG_REGISTRY=""

# The tag for which ESDiag image to use, may include the container registry
export ESDIAG_IMAGE_TAG="esdiag:latest"

################## docker/podman compose #########################
# These variables are only referenced by the `docker/docker-compose.yml` file

export ELASTIC_VERSION="9.0.3"
# Will be overwritten if `--insecure` is passed to `esdiag-control up`
export ELASTIC_SECURITY_ENABLED=true
# The `esdiag-control up` command will update these passwords and
# encrypition keys when security is enabled
export ELASTIC_PASSWORD="changeme"
export KIBANA_SYSTEM_PASSWORD=""
export KIBANA_ENCRYPTION_KEY=""

# The heap settings need to be equal for predictable performance
# The default '4g' is 4GiB of memory, and is a good starting point
export ELASTICSEARCH_HEAP_INIT="4g"
export ELASTICSEARCH_HEAP_MAX="4g"

### performance tuning and troubleshooting #####

# export TOKIO_WORKER_THREADS=4
# export LOG_LEVEL="info"
