################### esdiag dotenv example #########################

# Usage:
# 1. Copy this file `cp example.env .env`
# 2. Restrict access with `chmod 600 .env`, as it will contain secrets
# 3. Uncomment and add your credentials to the environment variables below
#
# All `.env*` files are ignored by `.gitignore`, NEVER commit them!
#
# The HOME (linux / MacOS) and USERPROFILE (Windows) operating system
# environment variables and used to create a `~/.esdiag` user directory to
# save configuration and debug information.

########################## esdiag #################################

# Change the log level to `debug` to be more verbose, or to `error` for less
#export LOG_LEVEL="info"

# The Elasticsearch URL to send the output documents to. This default is used
# inside containers and when no host is specified via command-line arguments.
#export ESDIAG_OUTPUT_URL="http://localhost:9200"

# An Elasticsearch API key to use with the ESDIAG_OUTPUT_URL, takes precedence
# over username/password
#export ESDIAG_OUTPUT_APIKEY=""

# Basic username/password authentication to use with the ESDIAG_OUTPUT_URL
#export ESDIAG_OUTPUT_USERNAME=""
#export ESDIAG_OUTPUT_PASSWORD=""

# NOTE: ESDIAG_OUTPUT_* authentication also applies to Kibana

# The base Kibana URL. This is used to generate links to pre-filtered
# dashboards. This needs to be a Kibana instance attached to the output
# Elasticsearch cluster and does not include the space id.
#export ESDIAG_KIBANA_URL="http://localhost:5601"

# The Kibana space ID where saved objects will import to.
# See `assets/kibana/space.json` for the full space definition
#export ESDIAG_KIBANA_SPACE="esdiag"

####################### esdiag serve #############################

# The network port on which to serve the web interface and REST API
#export ESDIAG_PORT=3000

# Specifies a user email, which can be used for document identificaiton and
# filtering. If present, documents will use the value set by the proxy in the
# `X-Goog-Authenticated-User-Email` header.
# If not set, the web interface will fill `Anonymous` as the user.
#export ESDIAG_USER=""

###################### esdiag-control ############################
# NOTE: esdiag-control is a separate script from the main esdiag binary

# A GitHub personal access token, used for optional automated version checks and
# updates. See `docs/github_token.md` for step-by-step creation instructions
#export GITHUB_TOKEN=""

# The git branch to use
#export ESDIAG_BRANCH="main"

# The container registry for Elastic's container images
#export ELASTIC_CONTAINER_REGISTRY="docker.elastic.co"

# An optional registry for ESDiag's container images
# When not set, falls back to $ELASTIC_CONTAINER_REGISTRY
#export ESDIAG_REGISTRY=""
