# Example dotenv file for ESDiag
# 1. Copy this file `cp example.env .env`
# 2. Restrict access with `chmod 600 .env`, since it will contain your credentials
# 3. Uncomment and add your credentials to the environment variables below
# The `.env` file is ignored by `.gitignore`, NEVER commit it

# A GitHub personal access token, used for automated version checks and updates
# See docs/github_token.md
# export GITHUB_TOKEN="<your_github_token>"

# A default output target for the `esdiag process` command, if no other output target is specified
export ESDIAG_OUTPUT_URL="http://localhost:9200"

# An API key to use with the ESDIAG_OUTPUT_URL, takes precedence over username/password
# export ESDIAG_OUTPUT_APIKEY="<elasticsearch_api_key>"

# Basic authentication to use with the ESDIAG_OUTPUT_URL
# export ESDIAG_OUTPUT_USERNAME="<username>"
# export ESDIAG_OUTPUT_PASSWORD="<password>"

# A Kibana URL to use to build a pre-filtered link once a diagnostic is processed
export ESDIAG_KIBANA_URL="http://localhost:5601"
