:root {
    --color-info: #54c7ec;
    --color-secondary: #ebedf0;
    --color-success: #00a400;
    --color-warning: #ffba00;
    --background-color-accent: #ffebf5;
    --background-color-danger: #ffe8e5;
    --background-color-primary: #e8f1ff;
    --background-color-success: #e2f8f0;
    --background-color-warning: #fdf3d8;

    --pre-background-color: #f6f9fc;
    --background-color: #ffffff;
    --background-color-dimmed: #f6f9fc;
    --color-white: #ffffff;
    --color-transparent: transparent;
    --color-overlay: #cad3e264;
    --button-text-color: #ffffff;
    --button-primary-background: #0b64dd;
    --button-primary-background-hover: #1750ba;
    --button-empty-primary-hover: rgb(55 136 255 / 30%);
    --button-empty-primary-active: rgb(55 136 255 / 40%);
    --tab-panel-background-blend-color: #f7f9fc;
    --theme-shadow-small: 0 1px 2px rgb(0 0 0 / 0.12);
    --theme-shadow-medium: 0 6px 12px rgb(0 0 0 / 0.08);

    --text-color: #1d2a3e;
    --text-subdued-color: #516381;
    --text-color-code: rgb(107, 60, 159);
    --page-background-color: #f6f9fc;
    --color-empty-shade: #ffffff;
    --border-color: #cad3e2;
    --border-color-strong: #b4bfd1;
    --color-primary: #0b64dd;
    --color-primary-shade: #1750ba;
    --focus-ring-color: #1750ba;
    --color-danger: #c61e25;
    --form-control-disabled-color: #cad3e2;
    --form-background-color: #ffffff;
    --form-placeholder-color: #516381;
    --page-top-color: #f9fbfd;

    --border-radius-small: 0.25rem;
    --border-radius: 0.5rem;
}

html {
    background: var(--background-color);
}

html:has(#dark-mode:checked) {
    --color-info: #54c7ec;
    --color-secondary: #ebedf0;
    --color-success: #00a400;
    --color-warning: #ffba00;
    --background-color-accent: #351725;
    --background-color-danger: #351721;
    --background-color-primary: #0a2342;
    --background-color-success: #092a26;
    --background-color-warning: #2c2721;

    --pre-background-color: #050f21;
    --background-color: #0b1628;
    --background-color-dimmed: #050f21;
    --color-overlay: #2b394f64;
    --text-color: #cad3e2;
    --text-color-code: rgb(179, 134, 249);
    --text-subdued-color: #98a8c3;
    --page-background-color: #0b1628;
    --color-empty-shade: #050f21;
    --border-color: #2b394f;
    --border-color-strong: rgb(72, 89, 117);
    --color-primary: #61a2ff;
    --color-primary-shade: #61a2ff;
    --button-text-color: #07101f;
    --button-primary-background: #61a2ff;
    --button-primary-background-hover: #85b7ff;
    --button-empty-primary-hover: rgb(55 136 255 / 16%);
    --button-empty-primary-active: rgb(55 136 255 / 20%);
    --focus-ring-color: #61a2ff;
    --color-danger: #f6726a;
    --form-control-disabled-color: #2b394f;
    --form-background-color: #0b1628;
    --form-placeholder-color: #98a8c3;
    --page-top-color: #111c2c;
    background: var(--background-color-dimmed);
}

/* Prism.js Code Coloring */

code:not([class*="language-"]) {
    background-color: var(--color-overlay);
    border-radius: var(--border-radius-small);
    border: none;
    color: var(--text-color-code);
    font-family: "Roboto Mono", Menlo, Courier, monospace;
    font-size: var(--font-size-s);
    font-weight: 600;
    padding-block: var(--size-xs);
    padding-inline: var(--size);
    vertical-align: initial;
}

pre:not([class*="language-"]) {
    background-color: var(--pre-background-color);
    padding: var(--size-m);
    overflow: auto;
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-s);
}

html code[class*="language-"],
html pre[class*="language-"] {
    color: var(--text-color);
    font-size: var(--font-size-s);
    text-shadow: none;
}

html pre[class*="language-"],
html :not(pre) > code[class*="language-"] {
    font-size: var(--font-size-s);
    background: var(--pre-background-color);
    border: 1px solid var(--border-color);
    box-shadow: var(--theme-shadow-small);
    border-radius: var(--border-radius-small);
}

html pre[class*="language-"] ::selection,
html pre[class*="language-"]::-moz-selection,
html code[class*="language-"] ::selection,
html code[class*="language-"]::-moz-selection {
    text-shadow: none;
    background: color-mix(in srgb, var(--color-primary) 35%, transparent);
}

html .token.comment,
html .token.prolog,
html .token.doctype,
html .token.cdata {
    color: var(--text-subdued-color);
}

html .token.punctuation {
    color: var(--text-color);
}

html .token.property,
html .token.tag,
html .token.attr-name,
html .token.class-name,
html .token.function,
html .token.keyword {
    color: var(--color-primary);
}

html .token.selector,
html .token.string,
html .token.char,
html .token.builtin,
html .token.inserted,
html .token.attr-value {
    color: var(--color-success);
}

html .token.boolean,
html .token.number,
html .token.constant,
html .token.symbol,
html .token.regex,
html .token.variable,
html .token.important {
    color: var(--text-color-code);
}

html .token.operator,
html .token.entity,
html .token.url,
html .language-css .token.string,
html .style .token.string {
    color: var(--text-subdued-color);
    background: transparent;
}
