<!doctype html>
<html>
    <head>
        <title>{% block title %}ESDiag{% endblock %}</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" type="image/svg+xml" href="/esdiag.svg" />
        <link rel="apple-touch-icon" href="/esdiag.svg" />
        <script type="module" src="/datastar.js"></script>
        {% block extra_head %}{% endblock %}
    </head>

    <body>
        {% include "components/header.html" %}

        <main id="main-content">
            {% block content %}{% endblock %}
        </main>

        {% include "components/footer.html" %}

        {% if debug %}
        <pre class="debug-signals" data-json-signals="{exclude: /files/}"></pre>
        {% endif %}
    </body>
</html>
