<header>
    <div>
        <a href="/" style="color: inherit; text-decoration: none; display: flex; align-items: center">
            <img id="logo" src="/esdiag.svg" alt="Elastic Stack Diagnostics Logo" />
            <h1>Elastic Stack Diagnostics</h1>
        </a>
    </div>
    <header-links>
        <header-icon id="docs" title="Documentation">
            <a href="/docs" class="link" style="color: inherit; text-decoration: none">
                <svg
                    class="icon"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                >
                    <path
                        d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M6.5 2H20V22H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </a>
        </header-icon>
        <header-icon id="theme-toggle" title="Toggle dark mode">
            <button type="button" class="theme-toggle-button" aria-label="Enable dark mode" data-show="!$theme.dark" data-on:click="$theme.dark = true; if(window.__TAURI_INTERNALS__) window.__TAURI_INTERNALS__.invoke('plugin:window|set_theme', { theme: 'dark' }); @post('/theme')">
                <theme-icon class="sun">
                    <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                        <circle cx="8" cy="8" r="2.5"></circle>
                        <path d="M8 1.5v2M8 12.5v2M1.5 8h2M12.5 8h2M3 3l1.5 1.5M11.5 11.5L13 13M13 3l-1.5 1.5M4.5 11.5L3 13"></path>
                    </svg>
                </theme-icon>
            </button>
            <button type="button" class="theme-toggle-button" aria-label="Disable dark mode" data-show="$theme.dark" data-on:click="$theme.dark = false; if(window.__TAURI_INTERNALS__) window.__TAURI_INTERNALS__.invoke('plugin:window|set_theme', { theme: 'light' }); @post('/theme')">
                <theme-icon class="moon">
                    <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                        <path d="M8 2a4 4 0 0 0 6 6A6 6 0 1 1 8 2z"></path>
                    </svg>
                </theme-icon>
            </button>
        </header-icon>
        <header-icon id="kibana">
            <svg class="icon" width="16" height="16" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_0_6522)">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11 25.2499V53.5809L31.137 30.3919C25.149 27.1299 18.299 25.2499 11 25.2499Z"
                        fill="currentColor"
                    />
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11 4.99991V25.2499C18.299 25.2499 25.149 27.1299 31.137 30.3919L53.188 4.99991H11Z"
                        fill="currentColor"
                    />
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M35.4434 33.059L14.7754 56.86L12.9164 59H52.3414C50.1784 48.342 43.9924 39.149 35.4434 33.059Z"
                        fill="currentColor"
                    />
                </g>
                <defs>
                    <clipPath id="clip0_0_6522">
                        <rect width="64" height="64" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <popup-menu>
                <popup-menu-header>Kibana Links</popup-menu-header>
                <popup-menu-item>
                    <a
                        target="_blank"
                        href="{{ kibana_url }}/app/dashboards#/view/diagnostic-list?_g=(filters:!(),refreshInterval:(pause:!t,value:60000),time:(from:now-30d,to:now))&_a=(filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'metrics-diagnostic-esdiag',key:diagnostic.user,negate:!f,params:(query:'{{ user }}'),type:phrase),query:(match_phrase:(diagnostic.user:'{{ user }}')))),viewMode:view)"
                        >My Diagnostics</a
                    >
                </popup-menu-item>
                <popup-menu-item>
                    <a
                        target="_blank"
                        href="{{ kibana_url }}/app/dashboards#/view/esdiag-readme?_g=(filters:!(),refreshInterval:(pause:!t,value:60000),time:(from:now-30d,to:now))"
                        >ESDiag Readme</a
                    >
                </popup-menu-item>
            </popup-menu>
        </header-icon>
        <header-icon id="user-circle">
            <user-icon class="user-circle"> {{ user_initial }} </user-icon>
            <popup-menu>
                <popup-menu-header>Username</popup-menu-header>
                <popup-menu-item
                    id="username-display"
                    data-signals:auth.header="{{ auth_header }}"
                    data-signals:metadata.user="'{{ user }}'"
                    data-text="$metadata.user"
                ></popup-menu-item>
            </popup-menu>
        </header-icon>
    </header-links>
</header>
