<panel
    id="secrets-table-panel"
    data-signals='{
        secrets: {
            rows: {}
        }
    }'
>
    <h3 style="margin-top: 0">Secrets</h3>
    <info-text>Save secrets for use in host authentication. All secrets are stored in a locally encrypted keystore.</info-text>
    {% if keystore_locked %}
    <p><icon-warning></icon-warning> Unlock the keystore to view and edit secrets.</p>
    {% endif %}
    {% if !keystore_locked %}
    <table-records id="secrets-table">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="secret-id-column">Secret ID</th>
                    <th scope="col" class="secret-type-column">Type</th>
                    <th scope="col" class="secret-value-column">Secret</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="secrets-table-body">
                {{ rows_html|safe }}
            </tbody>
        </table>
    </table-records>
    {% endif %}
    <footer>
        <button
            type="button"
            title="Toggle keystore"
            aria-label="Toggle keystore"
            data-on:click="
                if ($keystore.locked) { @get('/keystore/modal'); }
                else if (confirm('Lock keystore and disable secret usage?')) { @post('/keystore/lock'); }
            "
        >
            <icon-lock data-show="$keystore.locked"></icon-lock>
            <icon-key data-show="!$keystore.locked"></icon-key>
        </button>
        <button type="button" {% if keystore_locked %}disabled{% endif %} data-on:click="@post('/settings/secret/create/new')">Add Secret</button>
    </footer>
</panel>
